<div class="min-h-screen mt-20 bg-gray-950 flex flex-col items-center">
  <div class="min-w-[92vw] max-w-[92vw]">
    <div class="mt-20 px-4 text-center">
      <h1 class="font-bold text-white text-4xl md:text-6xl mb-20">
        Admin Dashboard
      </h1>
    </div>
    <div class="flex justify-between my-6">
      <div>
        <button
          class="w-[10vw] shadow-sm py-1.5 px-2 text-md rounded-md text-white hover:bg-purple-900 focus:outline-none"
          [class]="
            activeAv
              ? 'bg-purple-700 ring-2 ring-white font-bold'
              : 'bg-purple-700 font-semibold'
          "
          (click)="alterBookCollection('available')"
        >
          Available Books
        </button>
        <button
          class="w-[10vw] shadow-sm py-1.5 px-2 text-md rounded-md text-white hover:bg-purple-900 focus:outline-none ml-5"
          [class]="
            activeUnAv
              ? 'bg-purple-700 ring-2 ring-white font-bold'
              : 'bg-purple-700 font-semibold'
          "
          type="button"
          (click)="alterBookCollection('unavailable')"
        >
          Unavailable Books
        </button>
      </div>
      <div>
        <button
          class="w-[10vw] shadow-sm py-1.5 px-2 text-md font-semibold rounded-md text-white bg-purple-700 hover:bg-purple-900 focus:outline-none ml-5"
          type="button"
          (click)="openModal('creating')"
        >
          Add new Book
        </button>
        <button
          class="w-[10vw] shadow-sm py-1.5 px-2 text-md font-semibold rounded-md text-white bg-purple-700 hover:bg-purple-900 focus:outline-none ml-5"
          type="button"
          (click)="openCategoryModal()"
        >
          Add new Category
        </button>
      </div>
    </div>
    <div>
      <ngx-datatable
        class="bootstrap table bg-white fixed-header mb-20"
        [rows]="bookColletionView"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
      >
        <ngx-datatable-column
          name="ISBN"
          [width]="80"
          prop="isbn"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Title"
          [width]="220"
          prop="title"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Author"
          [width]="120"
          prop="author"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Category"
          [width]="100"
          prop="category"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Price"
          [width]="30"
          prop="price"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Availability"
          [width]="200"
          prop="available
        "
          ><ng-template let-row="row" ngx-datatable-cell-template>
            <label class="inline-flex items-center me-5 cursor-pointer">
              <input
                type="checkbox"
                [checked]="row.available"
                (change)="updateBookAvailability(row)"
                class="sr-only peer"
              />
              <span class="me-3 text-sm font-medium text-gray-600"
                >Unavailable</span
              >
              <div
                class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-purple-300 dark:peer-focus:ring-purple-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-purple-600 dark:peer-checked:bg-purple-600"
              ></div>
              <span class="ms-3 text-sm font-medium text-gray-600"
                >Available</span
              >
            </label>
          </ng-template></ngx-datatable-column
        >
        <ngx-datatable-column name="Actions" [width]="20">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="flex space-x-4">
              <button type="button" (click)="openModal('editing', row)">
                <i class="fa-solid fa-pen-to-square fa-lg"></i>
              </button>
              <button type="button" (click)="deleteBook(row.isbn)">
                <i class="fa-solid fa-trash-can fa-lg"></i>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

    <!-- Inicio do modal livros -->
    <div
      *ngIf="openedModal"
      class="mt-20 fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center"
      (click)="closeCategoryModalOut($event)"
    >
      <div
        class="bg-white p-6 rounded-lg shadow-lg w-2/4"
        (click)="$event.stopPropagation()"
      >
        <div class="flex justify-end">
          <button
            type="button"
            (click)="closeModal()"
            class="text-xl text-purple-600 font-bold"
          >
            X
          </button>
        </div>

        <div class="grid grid-cols-2 gap-4">
          <div>
            <img
              [src]="selectedBook?.cover ?? '/assets/book-na.jpg'"
              alt="Book Cover"
              class="w-full h-[54vh] object-contain rounded-lg"
            />
          </div>

          <form [formGroup]="bookForm" class="">
            <h3 class="text-3xl justify-self-center font-extrabold mb-12">
              {{
                isEditingOrCreating == "creating"
                  ? "Add New Book"
                  : "Update Book"
              }}
            </h3>

            <div class="space-y-3">
              <div>
                <input
                  type="text"
                  class="bg-gray-100 focus:bg-transparent w-full text-sm px-4 py-3.5 rounded-md outline-gray-800 placeholder-purple-900"
                  formControlName="isbn"
                  placeholder="ISBN"
                  required
                />
              </div>
              <div>
                <input
                  type="text"
                  class="bg-gray-100 focus:bg-transparent w-full text-sm px-4 py-3.5 rounded-md outline-gray-800 placeholder-purple-900"
                  formControlName="title"
                  placeholder="Title"
                  required
                />
              </div>
              <div>
                <input
                  type="text"
                  class="bg-gray-100 focus:bg-transparent w-full text-sm px-4 py-3.5 rounded-md outline-gray-800 placeholder-purple-900"
                  formControlName="author"
                  placeholder="Authors (Use commas to separate the authors)"
                  required
                />
              </div>
              <div>
                @if (isEditingOrCreating == 'editing') {
                <input
                  type="text"
                  class="bg-gray-100 focus:bg-transparent w-full text-sm px-4 py-3.5 rounded-md outline-gray-800 cursor-not-allowed placeholder-purple-900"
                  formControlName="category"
                  placeholder="Category"
                  readonly
                />
                } @else {<select
                  type="text"
                  id="selectCategory"
                  class="bg-gray-100 focus:bg-transparent w-full text-sm px-4 py-3.5 mb-3.5 rounded-md outline-gray-800 text-purple-900"
                  formControlName="category"
                  placeholder="Choose category"
                  readonly
                >
                  <option value="" selected>Category</option>
                  @for (category of allCategories; track $index) {
                  <option [value]="category.name" class="text-purple-900">
                    {{ category.name }}
                  </option>
                  }</select
                >}
              </div>
              <div>
                <input
                  type="text"
                  class="bg-gray-100 focus:bg-transparent w-full text-sm px-4 py-3.5 rounded-md outline-gray-800 placeholder-purple-900"
                  formControlName="cover"
                  placeholder="Cover URL"
                  required
                />
              </div>
              <div>
                <input
                  type="number"
                  class="bg-gray-100 focus:bg-transparent w-full text-sm px-4 py-3.5 rounded-md outline-gray-800 placeholder-purple-900"
                  formControlName="price"
                  placeholder="Price"
                  required
                />
              </div>
            </div>
            <div>
              <button
                type="button"
                class="w-full shadow-xl mt-4 py-3 px-6 text-md font-semibold rounded-md text-white bg-gray-800 hover:bg-[#222] focus:outline-none"
                [disabled]="bookForm.invalid"
                [class]="
                  bookForm.invalid ? 'cursor-not-allowed' : 'cursor-pointer'
                "
                (click)="createOrUpdate(isEditingOrCreating)"
              >
                {{ isEditingOrCreating == "creating" ? "Add" : "Update" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- fim do modal -->

  <!-- Inicio do modal create category -->
  <div
    *ngIf="openedModal2"
    class="mt-20 fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center"
    (click)="closeCategoryModalOut($event)"
  >
    <div
      class="bg-white p-6 rounded-lg shadow-lg w-2/4"
      (click)="$event.stopPropagation()"
    >
      <div class="flex justify-end">
        <button
          type="button"
          (click)="closeCategoryModal()"
          class="text-xl text-purple-600 font-bold"
        >
          X
        </button>
      </div>

      <form [formGroup]="categoryForm" class="">
        <h3 class="text-3xl justify-self-center font-extrabold mb-12">
          Add New Category
        </h3>

        <div class="space-y-3">
          <div>
            <input
              type="text"
              class="bg-gray-100 focus:bg-transparent w-full text-sm px-4 py-3.5 rounded-md outline-gray-800 placeholder-purple-900"
              formControlName="name"
              placeholder="Category Name"
              required
            />
          </div>
        </div>

        <div>
          <button
            type="button"
            class="w-full shadow-xl mt-4 py-3 px-6 text-md font-semibold rounded-md text-white bg-gray-800 hover:bg-[#222] focus:outline-none"
            [disabled]="categoryForm.invalid"
            [class]="
              categoryForm.invalid ? 'cursor-not-allowed' : 'cursor-pointer'
            "
            (click)="addNewCategory()"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
